@config "../tailwind.config.js";

@import "../styles/theme.css";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}

html {
  scroll-behavior: smooth;
}


/* Marquee */

.marquee {
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  width: max-content;
  animation: marquee-scroll 80s linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


@media (prefers-reduced-motion: reduce) {
  .marquee__inner {
    animation: none;
  }
}


